<mat-toolbar color="primary" class="app-header">
  <div class="header-container">
    <div class="logo-section">
      <span>ETL DataWarehouse Manager</span>
    </div>
    
    <div class="spacer"></div>
    
    <div class="user-section">
      <ng-container *ngIf="currentUser$ | async as user">
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
          <mat-icon>account_circle</mat-icon>
          <span>{{ user.name }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="goToChangePassword()">
            <mat-icon>lock</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</mat-toolbar>

<style>
  .app-header {
    height: 64px;
    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .logo-section {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1;
  }
  
  .user-section {
    display: flex;
    align-items: center;
  }
  
  .user-button {
    display: flex;
    align-items: center;
  }
  
  .user-button mat-icon {
    margin-right: 4px;
  }
</style>
