<mat-sidenav-container>
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="logo-container">
        <img src="assets/logo.png" alt="ETL Manager Logo" class="logo">
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="menu-container">
      <ng-container *ngIf="currentUser$ | async as user">
        <div *ngFor="let item of menuItems">
          <button 
            mat-button 
            class="menu-item" 
            [ngClass]="{'active': router.url.startsWith(item.route)}"
            (click)="navigateTo(item.route)"
            *ngIf="!item.requiresAdmin || checkAdminRole(user)">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.name}}</span>
          </button>
        </div>
      </ng-container>
    </div>

    <div class="sidebar-footer">
      <mat-divider></mat-divider>
      <div class="app-version">
        <span>ETL Manager v1.0.0</span>
      </div>
    </div>
  </div>
</mat-sidenav-container>