<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/clients" routerLinkActive="active">
    <mat-icon matListItemIcon>business</mat-icon>
    <span matListItemTitle>Clientes</span>
  </a>
  <ng-container *ngIf="isAdmin$ | async">
    <a mat-list-item routerLink="/users" routerLinkActive="active">
      <mat-icon matListItemIcon>people</mat-icon>
      <span matListItemTitle>Usuários</span>
    </a>
    <a mat-list-item routerLink="/audit-logs" routerLinkActive="active">
      <mat-icon matListItemIcon>history</mat-icon>
      <span matListItemTitle>Logs</span>
    </a>
  </ng-container>
</mat-nav-list>