.spacer {
  flex: 1 1 auto;
}

.logo {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8px;
}

.username {
  margin-right: 8px;
  font-size: 0.9rem;
}

@media (max-width: 599px) {
  .username {
    display: none;
  }
}