<div class="app-container">
  <ng-container *ngIf="isAuthenticated; else loginTemplate">
    <app-header></app-header>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened class="sidenav">
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
  
  <ng-template #loginTemplate>
    <div class="login-container">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
